form
{
	padding: 15px;
}
input
{
	width: 250px;
}
#main_table
{
	padding: 0px 15px;
	border-style: solid;
	border-color: #6bb11a;
	border-width: 1px 1px 1px 0px;
	border-spacing: 0px;
}
.row
{
	border-style: solid;
	border-color: #6bb11a;
	border-width: 0px 0px 0px 1px;
}
.row > div
{
	height: 26px;
	font-size: 16px;
	line-height: 26px;
	border-style: solid;
	border-color: #6bb11a;
	border-width: 1px 0px 0px 1px;
}
.header
{
	font-size: 18px;
	font-weight: bold;
	background-color: #9dcc0e;
}
.header > div
{
	border-style: solid;
	border-color: #6bb11a;
	border-width: 0px 0px 0px 1px;
	cursor: pointer;
}